body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
}

h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 1.5em;
  margin: 0 0 10px;
  color: #606060;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}

table {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  table-layout: fixed;
  max-width: none;
  width: auto;
  min-width: 35%;
}

th {
  font-weight: 300;
  font-size: 1.25em;
}
